
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200&family=Stalemate&display=swap');
*{
    margin: 0;
    padding: 0;
    border:none;
}
body{
    font-family: Stalemate, sans-serif;
    font-weight: 300;
    color: #080306
    
}

/* headings and logo */

h1, h2 {
    font-family: arima, sans-serif;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #97165f;
    letter-spacing: 4px;
    color: #97165f
    
}
#logo{
    float: left;
    font-size: 280%
    
    margin-left: 30px;
}
#menu {
    font-size:110%;
    letter-spacing: 4px;

}
#menu, #logo{
    line-height: 75px;
}
#menu li{
    float:right;
    list-style-type:none;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;
    
}
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active{
    border-bottom: 1px solid #3a3a3a;
}
/*crochet image*/
#crochet-outer {
    height:600px;
    width:100%;
    overflow: hidden;

    position: relative;
}
#cover-text, #cover-text h2{
    color: rgb(7, 6, 7);
}

#crochet-image{
    height:600px;
    width:100%;
    background: url('../images/crochet-image.jpeg') no-repeat center center;
    /*animates zoom effect on loading page*/
    animation-name: crochet-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
/*zooming effect on the crochet image*/
@keyframes crochet-zoom{
    from{
        transform: scale(1);
    }
    to{transform: scale(1.1);}
}
#cover-text{
    font-size: 130%;
    font-family: arima, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(240, 232, 238, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}
/*basics to get started section*/
#basicstogetstarted {
    height: 600px;
    
    

}
#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: #97165f;
}
#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: yellow;
}
#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: green;

}